* {
  &::selection {
    background: $color-11art;
  }
  &::-moz-selection {
    background: $color-11art;
  }
}

html,
body {
  font-size: 10px;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.nav {
  height: 100px;
  width: 100%;
  background-color: #eb56007e;
  padding-left: 15px;
  padding-right: 20px;
  position: relative;
  &-header {
    display: inline;
    &-title {
      display: inline-block;
      font-size: 22px;
      color: #fff;
      padding: 10px;
    }
  }

  &-mobileBtn {
    display: none;
  }

  &-links {
    float: right;
    font-size: 1.7em;
    a {
      display: inline-block;
      padding: 40px 10px 10px 10px;
      text-decoration: none;
      color: #efefef;
      position: relative;
    }
    a:after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 0%;
      content: ".";
      color: transparent;
      background: white;
      height: 1px;
      transition: width 0.3s ease-in-out;
    }
    a:hover:after {
      transition: width 0.3s ease-in-out;
      width: 100%;
    }
    &-btnFechar,
    &-logo,
    hr {
      display: none;
    }
  }
}

#nav-mobileBtnToogle {
  display: none;
}

.btn{
   border: none;
   background: none;
   padding: 10px 20px;
   font-size: 1.4em;
   font-weight: 500;
   border-radius: 3px;
   border: 2px solid;
   color: white;
   transition: .3s;
}

// Design

.btn-fill-design{
   background: $color-design;
   border-color: $color-design;
}

.btn-fill-design:hover{
   background: darken($color-design, 10%);
   border-color: darken($color-design, 10%);
}

.btn-outline-design{
   border-color: $color-design;
   color: darken($color-design, 10%);
}

.btn-outline-design:hover{
   background: $color-design;
   color: white;
}