// Base

$color-11art: #fb8c00;
$color-primary: rgb(75, 75, 75); 

// Home Módulos
$color-modulo-botao: rgba(65, 65, 65, 0.199);
$color-modulo-design: rgba(65, 207, 89, 0.808);
$color-modulo-web: rgba(75, 181, 230, 0.815);
$color-modulo-video: rgba(223, 43, 33, 0.815);
$color-modulo-3d: rgba(73, 71, 196, 0.829);

// Cores areas
$color-design: rgb(76, 217, 100);
$color-web: rgb(90, 200,250);
$color-video: rgb(255, 59, 48);
$color-3d: rgb(88, 86, 214);