// Base

$color-11art: #ff8034;

// Home

$color-modulo-botao: rgba(65, 65, 65, 0.199);
$color-modulo-design: rgba(65, 255, 91, 0.808);
$color-modulo-web: rgba(40, 230, 255, 0.815);
$color-modulo-video: rgba(255, 40, 40, 0.815);
$color-modulo-3d: rgba(115, 40, 255, 0.829);