// Base

$color-11art: #ff8034;

// Home

$color-modulo-botao: rgba(65, 65, 65, 0.199);
$color-modulo-design: rgba(60, 160, 48, 0.808);
$color-modulo-web: rgba(17, 146, 195, 0.815);
$color-modulo-video: rgba(208, 15, 15, 0.815);
$color-modulo-3d: rgba(95, 35, 208, 0.829);


$color-design: rgb(76, 217, 100);