// Base

$color-11art: #fb8c00;
$color-primary: rgb(75, 75, 75);

// Home
$color-modulo-botao: rgba(65, 65, 65, 0.199);
$color-modulo-design: rgba(76, 217, 100, 0.808);
$color-modulo-web: rgba(0, 122, 250, 0.815);
$color-modulo-video: rgba(255, 59, 48, 0.815);
$color-modulo-3d: rgba(88, 86, 214, 0.829);


$color-design: rgb(76, 217, 100);
$color-web: rgb(0, 122, 250);
$color-video: rgb(255, 59, 48);
$color-3d: rgb(88, 86, 214);