.text-center{
	text-align: center!important;
}

.mtn-1{
	margin-top: -3px!important;
}

.mtn-2{
	margin-top: -5px!important;
}

.mtn-3{
	margin-top: -7px!important;
}

.mtn-4{
	margin-top: -10px!important;
}

.mt-0{
	margin-top: 0px!important;
}

.mt-1{
	margin-top: 3px!important;
}

.mt-2{
	margin-top: 5px!important;
}

.mt-3{
	margin-top: 7px!important;
}

.mt-4{
	margin-top: 10px!important;
}

.mt-5{
	margin-top: 15px!important;
}

.mt-6{
	margin-top: 20px!important;
}

.mt-7{
	margin-top: 25px!important;
}

.mt-8{
	margin-top: 30px!important;
}

.mt-9{
	margin-top: 35px!important;
}

.mt-10{
	margin-top: 40px!important;
}

.mb-1{
	margin-bottom: 3px!important;
}

.mb-2{
	margin-bottom: 5px!important;
}

.mb-3{
	margin-bottom: 7px!important;
}

.mb-4{
	margin-bottom: 10px!important;
}

.mb-5{
	margin-bottom: 15px!important;
}

.mb-6{
	margin-bottom: 20px!important;
}

.mb-7{
	margin-bottom: 25px!important;
}

.mr-1{
	margin-right: 3px!important;
}

.mr-2{
	margin-right: 5px!important;
}

.mr-3{
	margin-right: 7px!important;
}

.mr-4{
	margin-right: 10px!important;
}

.mr-5{
	margin-right: 15px!important;
}

.mr-6{
	margin-right: 20px!important;
}

.mr-7{
	margin-right: 25px!important;
}

.ml-1{
	margin-left: 3px!important;
}

.ml-2{
	margin-left: 5px!important;
}

.ml-3{
	margin-left: 7px!important;
}

.ml-4{
	margin-left: 10px!important;
}

.ml-5{
	margin-left: 15px!important;
}

.pt-0{
	padding-top: 0px!important;
}

.pt-1{
	padding-top: 3px!important;
}

.pt-2{
	padding-top: 5px!important;
}

.pt-3{
	padding-top: 7px!important;
}

.pt-4{
	padding-top: 10px!important;
}

.pt-5{
	padding-top: 15px!important;
}

.pb-1{
	padding-bottom: 3px!important;
}

.pb-2{
	padding-bottom: 5px!important;
}

.pb-3{
	padding-bottom: 7px!important;
}

.pb-4{
	padding-bottom: 10px!important;
}

.pb-5{
	padding-bottom: 15px!important;
}

.pr-1{
	padding-right: 3px!important;
}

.pr-2{
	padding-right: 5px!important;
}

.pr-3{
	padding-right: 7px!important;
}

.pr-4{
	padding-right: 10px!important;
}

.pr-5{
	padding-right: 15px!important;
}

.pr-6{
	padding-right: 20px!important;
}

.pr-7{
	padding-right: 25px!important;
}

.pl-1{
	padding-left: 3px!important;
}

.pl-2{
	padding-left: 5px!important;
}

.pl-3{
	padding-left: 7px!important;
}

.pl-4{
	padding-left: 10px!important;
}

.pl-5{
	padding-left: 15px!important;
}